*{
    margin:0;
    padding:0;
}
.outer_center{
    width:750px;
    height:1280px;
    margin:auto 0;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
  
}
.cercle1{
    width:737px;
    height:737px;
    border:2px dashed #f57129;
    border-radius:50%;
    position:absolute;
    top:215px;
}
.cercle2{
    width:737px;
    height:737px;
    border:2px dashed #f57129;
    border-radius:50%;
    position:absolute;
    top:205px;
    left:9px;
}
.cercle3{
    width:17px;
    height: 17px;
    background:#f57129;
    border-radius: 50%;
    position: absolute;
    left:83px;
    top:330px;

}
.cercle4{
    width:17px;
    height: 17px;
    background:#f57129;
    border-radius: 50%;
    position: absolute;
    left:630px;
    top:833px;

}
.content{
    width:675px;
    height:675px;
    border-radius:50%;
    background: rgba(0,0,0,0.5);
    /* opacity:0.5; */
    position: absolute;
    top:240px;
    left:40px;

}
.content .img{
    position:absolute;
    top:20px;
    left:200px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.content form{
    /* position:absolute; */

  margin:140px auto;
}
.content form div{
    width:374px;
    height:72px;
    border:3px solid white;
    margin:15px 30px 20px 150px;
    
}
.content form div span{
    font-size: 26px;
    color:white;
    line-height: 72px;
    margin-left:10px;
}
.content form div input{
   font-size:30px;
    background:rgba(0,0,0,0);
   border:none;
   color:white;
   outline: none;
   width:230px;
   height:72px;
   color:#f57129;
}
.content form div select{
    background: rgba(0,0,0,0);
    /* opacity: 0.5; */
    color:white;
    font-size: 26px;
    line-height: 72px;
    width:300px;
    margin-top:20px;
    margin-left:20px;
    border:none;
    outline: none;
}
.content form div select option{
    background:#f57129;
   
}
.content form  h1{
    color:white;
    margin:137px 30px 20px 160px;
    opacity:1;
    font-size: 23px;
    line-height: 20px;
    position: relative;
}
.content form h2 {
    margin:100px 30px 20px 220px;
}
.content form h2 input{
    width:190px;
    height:80px;
    background: #f57129;
    color:white;
    font-size: 30px;
    opacity: 1.0;

}
.content form h3 a{
    margin-left:150px;
    text-decoration:none;
    color:white;
    font-size:23px;
}
.content form div a{
    position:absolute;
    right:22px;
    top:20px;
    text-decoration: none;
    font-size:20px;
    color:#f57129;
}
#rel{
    position: relative;
}
#ipt{
    color:#f57129;
    width:100px; 
}
.content form h1 span{
    width:20px;
    height:20px;
    border:2px solid #f57129;
    display: inline-block; 
    position:absolute;
    left:-10px;
    top:0px; 
}
.content form h1 span img{
    position: absolute;
    width:30px;
    height:30px;
    left:-5px;
    top:-10px;
}



